/**/

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-stop: y mandatory;
}

*,*::before, *::after{
    box-sizing: inherit;
}


/*utilidades*/
.w-sm-100{
    width: 100%;
}

@media (min-width:768px) {
    .w-sm-100{
        width: auto;
    }
}


/**/

body{
    background: rgb(99, 136, 255);
    background: radial-gradient(circle, rgb(255, 192, 90) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

main{
    border: 1px solid rgb(0, 0, 0);
    margin:30px auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.6rem;
    color: #444;
    text-align: center;
    margin-bottom: 2rem;
}

.seccion1{
    /*-------------------------------transparencia*/
    background-color: rgba(255,255,255,0.2);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    border-radius: 9px;
    flex: 1 1 60%; /* 60% del ancho por defecto */
    margin-bottom: 20px;
}

button{
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 60px;
    font-size: 40px;
    text-align: center;
    color: #333;
    font-weight: bold;
    background-color: #e6f7ff;
    border: 2px solid #ddd;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 190, 133);
    transform: scale(1.05);
}

button:disabled {
    background-color: #fed89a;
    cursor: not-allowed;
}

.seccion2{
    background-color: rgba(255,255,255,0.2);
    width: 250px;
    height: 550px;
    border-top-right-radius:8px;
    border-top-right-radius:8px;
    padding: 100px;
    font-size: 15px;
    align-items: center;
    flex: 1 1 35%; /* 35% del ancho por defecto */
}

/* Media Queries */
@media (max-width: 768px) {
    html {
        font-size: 50%; /* Escala más pequeña en pantallas más pequeñas */
    }

    .seccion1 {
        flex: 1 1 100%; /* En pantallas pequeñas, la sección 1 ocupa el 100% */
        margin-bottom: 20px;
    }

    .seccion2 {
        flex: 1 1 100%; /* En pantallas pequeñas, la sección 2 ocupa el 100% */
    }

    button {
        width: 80px; /* Reducir el tamaño de los botones en pantallas pequeñas */
        height: 80px;
        font-size: 2rem; /* Reducir tamaño de texto de los botones */
        padding: 10px 20px; 
    }
}

.estadisticas{
    border:1px solid white;
    height: 105px;
    border: 0px;
    padding: 10px , 20px;
    box-sizing: border-box;
    
}

/* Footer */
footer {
    text-align: center;
    font-size: 1.2rem;
    color: #282727;
    margin-top: auto;
    padding: 1rem;
    width: 100%;
}

/* Ajustar tabla de botones */
table {
    width: 100%;
    table-layout: fixed;
    padding: 0px;
    color:black;
}

td {
    padding: 0px;
    text-align: center;
}

/* Estilo del temporizador */
#t_restante {
    font-weight: bold;
    color: #FF6500;
}

.btn-otra-partida {
    
    font-size: 15px; /* Tamaño en rem para que sea escalable */
    font-weight: bold;

    height: 80px;
    width: 100px;
    padding: 10px 20px;
    text-align: center;

    color: #282727;
    background-color:#FEECB3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-otra-partida:hover {
    background-color: #DFF2EB; /* Cambio de color al pasar el ratón */
}

  /* Responsivo para pantallas pequeñas */
  @media (max-width: 768px) {
    .btn-otra-partida {
        padding: 10px 20px; /* Reducir padding */
        font-size: 2.2rem; /* Reducir tamaño de fuente */
    }
}